<?xml version="1.0"?>

<launch>
    <group ns="p1">
        <rosparam command="load" file="$(find pendulum_pkg)/config/p1.yaml" />
        <node pkg="pendulum_pkg" type="pendulum_node" name="pendulum" output="screen"/>
        <node pkg="pendulum_pkg" type="controller_node" name="controller" output="screen"/>
        <node pkg="pendulum_pkg" type="manager_node" name="manager" output="screen"/>
        <node pkg="pendulum_pkg" type="ui_bridge_node" name="ui_bridge" output="screen"/>
    </group>

    <group ns="p2">
        <rosparam command="load" file="$(find pendulum_pkg)/config/p2.yaml" />
        <node pkg="pendulum_pkg" type="pendulum_node" name="pendulum" output="screen"/>
        <node pkg="pendulum_pkg" type="controller_node" name="controller" output="screen"/>
        <node pkg="pendulum_pkg" type="manager_node" name="manager" output="screen"/>
        <node pkg="pendulum_pkg" type="ui_bridge_node" name="ui_bridge" output="screen"/>
    </group>

    <group ns="p3">
        <rosparam command="load" file="$(find pendulum_pkg)/config/p3.yaml" />
        <node pkg="pendulum_pkg" type="pendulum_node" name="pendulum" output="screen"/>
        <node pkg="pendulum_pkg" type="controller_node" name="controller" output="screen"/>
        <node pkg="pendulum_pkg" type="manager_node" name="manager" output="screen"/>
        <node pkg="pendulum_pkg" type="ui_bridge_node" name="ui_bridge" output="screen"/>
   
    </group>
        <group ns="p4">
        <rosparam command="load" file="$(find pendulum_pkg)/config/p4.yaml" />
        <node pkg="pendulum_pkg" type="pendulum_node" name="pendulum" output="screen"/>
        <node pkg="pendulum_pkg" type="controller_node" name="controller" output="screen"/>
        <node pkg="pendulum_pkg" type="manager_node" name="manager" output="screen"/>
        <node pkg="pendulum_pkg" type="ui_bridge_node" name="ui_bridge" output="screen"/>
    </group>

        <group ns="p5">
        <rosparam command="load" file="$(find pendulum_pkg)/config/p5.yaml" />
        <node pkg="pendulum_pkg" type="pendulum_node" name="pendulum" output="screen"/>
        <node pkg="pendulum_pkg" type="controller_node" name="controller" output="screen"/>
        <node pkg="pendulum_pkg" type="manager_node" name="manager" output="screen"/>
        <node pkg="pendulum_pkg" type="ui_bridge_node" name="ui_bridge" output="screen"/>
    </group>


    <node pkg="pendulum_pkg" type="overlord_node" name="overlord" output="screen"/>
</launch>
